
footer {
    background-color: var(--header-bg);
    color: var(--header-text);
    padding-right: 25px;
    font-size: 1.1rem;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  
  .navbar__link {
    list-style: none;;
  }
  